html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a.lightbox-link {
    display: block;
    margin: 0 auto;
    width: 250px;
}
a.lightbox-link img {
    width: 100%;
    border: 2px solid #4ae;
    border-radius: 10px;
    padding: 10px;
}
ul li.divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 5px 0 2px;
}
ul.list_unstyled {
    list-style: outside none none;
    padding-left: 0;
    margin: 0;
}
ul.list_unstyled ul {
    list-style: outside none none;
    padding-left: 20px;
}
table {
    border: 1px solid #222;
    width: 100%;
    text-align: center;
}
table td {
    border-top: 1px solid #222;
}

#content {
    margin: 10px;
}
