body {
    font-family: 'Lato', sans-serif;

    padding-top: 61px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* General */
#overlay {
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    visibility: hidden;
}
#overlay .background {
    background: #f9f9f9;
    position: relative;
    float: left;
    padding: 10px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    margin-left: -85px;
    margin-top: -85px;
}
#overlay .background .loading {
    background: url('../images/loading.gif');
    width: 160px;
    height: 160px;
}

.no-padding {
    padding: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}

.dropdown:hover .dropdown-toggle {
    background-color: #e7e7e7 !important;
    color: #555555 !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.form label span.required {
    color: red;
}

.content {

}
.content .header-content {
    background: #6f8992;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 10px;
}
.content .entry-content {
    background: #FAFAFA;
    border: 1px solid #DEDEDE;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.inner_title {
    border-bottom: 2px solid #dfdfdf;
    display: block;
    margin-bottom: 12px;
    padding-bottom: 5px;
}

.header h3 {
    font-size: 1.25em;
    margin-top: 0;
}

.pad-bot-5 {
    padding-bottom: 5px;
}
.v-bot-5 {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
/* ~General */

/* Signup */
.form-signup, .form-signin {
    max-width: 400px;
    margin: 0 auto;
}
/* ~Signup */

/* Store */
.stores {
    margin-top: 5px;
    padding-top: 5px;
}
.stores .row.heading {
    border-bottom: 2px solid #c3c3c3;

    font-weight: bold;
}
.stores .row {
    padding-top: 4px;
    padding-bottom: 4px;

    border-bottom: 1px solid #c3c3c3;
}

.stores .row.even {
    background: #f9f9f9;
}
/* ~Store */

/* Left tabbed content */
.left-tabbed-content {

}
.left-tabbed-content .side-col > h3 {
    color: #253033;
    font-size: 1.20em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5em;
}

.left-tabbed-content .side-col ul.tabs {
    border-top: 1px solid #BEBEBE;
}
.left-tabbed-content .side-col ul.tabs li {

}
.left-tabbed-content .side-col ul.tabs li a {
    background: #e7efef;
    border-bottom: 1px dotted #BEBEBE;
    color: #000000;
    display: block;
    outline: 0;
    text-decoration: none;
}
.left-tabbed-content .side-col ul.tabs li a span {
    display: block;

    padding: 0.3em 0.5em 0.28em 1.5em;
}
.left-tabbed-content .side-col ul.tabs li a.active {
    background: #FFFFFF;
    border-bottom: 1px solid #BEBEBE;
    position: relative;
    width: 100.2%;
    z-index: 1;
}
.left-tabbed-content .side-col ul.tabs li a.active span {
    font-weight: bold;
}

.left-tabbed-content .main-col {
    border-left: 1px solid lightgray;
}
.left-tabbed-content .main-col .main-col-inner {

}
.left-tabbed-content .main-col .main-col-inner .header {
    margin-bottom: 10px;
}
.left-tabbed-content .main-col .main-col-inner .header h3 {
    color: #eb5e00;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0;
}
/* ~Left tabbed content */

/* Groups */
#groups_column .group-node {
    border: 1px solid #DFDFDF;
    min-height: 20px;
    padding: 10px;
}
.group-node li {
    cursor: pointer;
}
.group-name {
    cursor: pointer;
    padding: 4px 0 3px 5px;
}
.group-root li.selected .group-name {
    background: #DFDFDF;
}
#unused_attributes {
    padding: 10px;
    border: 1px solid #DFDFDF;
}
#unused_attributes li {
    clear: both;
    cursor: pointer;
    float: left;
}
/* ~Groups */